<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :support_request %>
    <%= f.text_area :support_request %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <span id="ticket_status"><%= ticket.status %></span>
  </div>

  <div class="field">
    <%= f.label :closed_at %>
    <%= ticket.closed_at %>
  </div>

  <div class="field">
    <%= f.label :customer %>
    <%= f.hidden_field :customer_id %>
    <%= ticket.customer.try(:email) %>
  </div>

  <div class="field">
    <%= f.label :support_agent %>
    <%= f.hidden_field :support_agent_id %>
    <%= ticket.support_agent.try(:email) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
