<%= link_to '<< Home', root_path %>
<h1>Tickets</h1>

<strong>Filter:</strong>
<%= ticket_filters %>

<table>
  <thead>
    <% if @tickets.present? %>
    <tr>
      <th>Support request</th>
      <th></th>
      <th class="hidden-md-down">Customer</th>
      <th class="hidden-md-down">Support agent</th>
      <th class="hidden-md-down">Status</th>
      <th>Reported at</th>
      <th class="hidden-lg-down">Closed at</th>
    </tr>
    <% else %>
      <tr>
        <th>No tickets are available. Please try a different filter or check back later.</th>
      </tr>
    <% end %>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr class="ticket">
        <td class="ticket_support_request">
          <%= truncate(ticket.support_request, length: 21 , separator: ' ') %>
        </td>
        <td>
          <%= link_to 'View', ticket, class: "show_ticket_action" %>
        </td>
        <td class="hidden-md-down ticket_customer"><%= ticket.customer.try(:email) %></td>
        <td class="hidden-md-down ticket_support_agent"><%= ticket.support_agent.try(:email) %></td>
        <td class="hidden-md-down ticket_status"><%= ticket.status %></td>
        <td class="ticket_reported_at"><%= ticket.created_at %></td>
        <td class="hidden-lg-down ticket_closed_at"><%= ticket.closed_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<< Home', root_path %> |
<% if current_user.customer? %>
  <%= link_to 'New Ticket', new_ticket_path %>
<% end %>
