<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Support request</th>
      <th>Status</th>
      <th>Closed at</th>
      <th>Customer</th>
      <th>Support agent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.tickets.each do |ticket| %>
      <tr class="ticket">
        <td class="ticket_support_request"><%= ticket.support_request %></td>
        <td class="ticket_status"><%= ticket.status %></td>
        <td class="ticket_closed_at"><%= ticket.closed_at %></td>
        <td class="ticket_customer"><%= ticket.customer.try(:email) %></td>
        <td class="ticket_support_agent"><%= ticket.support_agent.try(:email) %></td>
        <td><%= link_to 'Show', ticket, class: "show_ticket_action" %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
