<%= link_to '<< Tickets', tickets_path %>
<h1>Ticket</h1>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Closed at:</strong>
  <%= @ticket.closed_at %>
</p>

<p>
  <strong>Customer:</strong>
  <span class="ticket_customer_email"><%= @ticket.customer.try(:email) %></span>
</p>

<p>
  <strong>Support agent:</strong>
  <%= @ticket.support_agent.try(:email) %>
</p>

<p>
  <strong>Support request:</strong><br>
  <%= @ticket.support_request %>
</p>

<p>
  <h2>Comments:</h2>
  <script>
    var comments_html_safe_json = '<%= @ticket.comments.to_json %>';//.replace(/\&quot\;/g, '"');
    var comments = $("<div/>").html(comments_html_safe_json).text()
    window.comments = JSON.parse(comments)
  </script>
  <ul class="comments" data-bind="foreach: comments">
    <li class="comment" data-bind="css: $data.cssClass">
      <span class="comment_user_email"  data-bind="text: $data.user_email"></span>
      <span class="comment_created_at" data-bind="text: $data.created_at"></span>
      <span class="comment_body" data-bind="text: $data.body"></span>
    </li>
  </ul>
  <%= form_for @ticket.comments.build do |cf| %>
    <%= cf.hidden_field :ticket_id, value: @ticket.id, "data-bind" => "value: newComment.ticket_id" %>
    <%= cf.hidden_field :user_id, value: current_user.id, "data-bind" => "value: newComment.user_id" %>
    <%= hidden_field_tag :comment_user_email, current_user.email, "data-bind" => "value: newComment.user_email" %>
    <%= hidden_field_tag :comment_user_role, current_user.role, "data-bind" => "value: newComment.user_role" %>
    <%= cf.text_field :body, placeholder: 'Type comment and hit ENTER', disabled: @ticket.closed?, "data-bind" => "textInput: newComment.body, focus: focusAction" %>
    <%= cf.submit value: 'Comment', disabled: @ticket.closed?, "data-bind" => "click: commentAction" %>
  <% end %>
</p>

<%= link_to '<< Tickets', tickets_path %> |
<% if @ticket.open? %>
  <%= form_for @ticket, html: {class: 'close_ticket_form'} do |f| %>
    <%= f.hidden_field :status, value: 'closed' %>
    <%= f.submit 'Close', id: 'close_ticket_action' %>
  <% end %>
<% end %>
<% if @ticket.closed? %>
  <%= form_for @ticket, html: {class: 'reopen_ticket_form'} do |f| %>
    <%= f.hidden_field :status, value: 'open' %>
    <%= f.submit 'Re-open', id: 'reopen_ticket_action' %>
  <% end %>
<% end %>
