<div class="report last_one_month_closed_tickets">
  <h1><%= @report.name %></h1>
  <p>Generated At: <%= @report.generated_at %></p>
  <table class="report_table">
    <tbody>
      <tr>
        <th>
          Support Request
        </th>
        <th>
          Customer
        </th>
        <th>
          Status
        </th>
        <th>
          Reported
        </th>
        <th>
          Closed
        </th>
      </tr>
      <% @report.tickets.each do |ticket| %>
      <tr>
        <td class='ticket_support_request'>
          <%= ticket.support_request %>
        </td>
        <td class="ticket_customer">
          <%= ticket.customer.email %>
        </td>
        <td class="ticket_status">
          <%= ticket.status %>
        </td>
        <td class="ticket_reported_at">
          <%= ticket.created_at %>
        </td>
        <td class="ticket_closed_at">
          <%= ticket.closed_at %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
